#skills {
  display: block;
  position: relative;
  left: 13%;
}
#certificates {
  display: block;
  max-width: 60%;
  position: relative;
  left: 19%;
}
#experience {
  max-width: 700px;
  position:relative;
  left: 10%;
}
#about-me {
  max-width: 800px;
  position:relative;
  left: 10%;
}
#education {
  position: relative;
  left: 10%;
}
header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 99vw;
  background-color: #294969;
  color: ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  border: 15px solid lightsalmon;
}
